* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
}
.cont {
  padding: 30px;
  background-color: #fff;
  width: 450px;
  height: 350px;
  border-radius: 5px;
}
.name {
  color: rgb(77, 129, 201);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.full {
  margin: 10px 0px 20px;
  color: rgb(74, 74, 74);
  text-align: center;
}
hr {
  color: yellow;
}

.face,
.tw,
.link {
  padding: 10px;
  display: flex;
  background-color: #eee;
  height: 50px;
  margin-top: 10px;
  align-items: center;
}
.face {
  margin-top: 20px;
}
img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-110px);
}
