* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  background-color: #eee;
  display: grid;
  grid-template-rows: 30% 70%;
  justify-content: center;
}
.container {
  display: grid;
  padding: 0% 10% 5% 10%;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.cont {
  width: calc(100% / 3);
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: hsl(229, 6%, 66%);
}
.span1 {
  font-size: 28px;
  color: hsl(234, 12%, 34%);
}
.span2 {
  font-size: 28px;
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  margin: 10px 0;
}
.one,
.two,
.three,
.four {
  width: 90%;
  height: 45%;
  padding: 20px;
  background-color: #fff;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 5px;
  position: relative;
}
.twice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one,
.four {
  align-self: center;
}
.container div {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: hsl(229, 6%, 66%);
}
.container span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: initial;
  font-weight: 600;
  margin: 5px 0;
  color: hsl(234, 12%, 34%);
}
.two {
  border-color: hsl(0, 78%, 62%);
}
.one {
  border-color: hsl(180, 62%, 55%);
}
.three {
  border-color: hsl(34, 97%, 64%);
}
.four {
  border-color: hsl(212, 86%, 64%) s;
}
.container div {
  margin: 0 auto;
}
img {
  width: 50px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
